@font-face {
	font-family: ValeriaBoldGrunge;
	src: url('../fonts/ValeriaBoldGrunge/ValeriaBoldGrunge.otf');
}

html, body {
	width: 100%;
	height: 100%;
	margin:0px;
}

div.frame-container {
	width: 100%;
	height: 100%;
	background-color: black;
}

div.frame-border-root, div.frame-text-scrollbox {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

div.frame-border-root {
	width: 90%;
	height: 90%;
}

div.frame-text-scrollbox {
	width: 78%;
	height: 75%;
	overflow: scroll;
}

::-webkit-scrollbar { 
    display: none; 
}

div.frame-border {
	width: 100%;
	height: 100%;
	background-image: url('../img/frame.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

div.frame-text-container {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.frame-text {
	color: white;
	font-size: 110px;
	font-style: italic;
	font-family: ValeriaBoldGrunge;
	text-align: center;
	text-transform: uppercase;
}

.frame-text p {
	margin: 0px;
}

.frame-text p+p {
	margin-top: 0.5em;
}

div.the-end-img {
	width: 100%;
	height: 100%;
	background-image: url('../img/theend.gif');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}